### Assignment: Neighborhoods in Toronto

#### Importing libraries and reading dataset

In [2]:
import pandas as pd
import numpy as np

link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

tables = pd.read_html(link)

In [3]:
TorontoN=tables[0].iloc[1:]

#### Lets have a look at the start of the table

In [4]:
TorontoN.head()

  Postal code           Borough                       Neighborhood
1         M2A      Not assigned                                NaN
2         M3A        North York                          Parkwoods
3         M4A        North York                   Victoria Village
4         M5A  Downtown Toronto         Regent Park / Harbourfront
5         M6A        North York  Lawrence Manor / Lawrence Heights

#### Deleting/Ignoring rows with borough not assigned and replacing "/" with "," as done in first part of assignment

In [5]:
TorontoN=TorontoN[TorontoN['Borough']!="Not assigned"]
TorontoN['Neighborhood']=TorontoN['Neighborhood'].str.replace("/", ",")
TorontoN.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park , Harbourfront
5         M6A        North York             Lawrence Manor , Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

#### Adding and initializing columns Latitude and Longitude

In [6]:
TorontoN['Latitude']=0.0
TorontoN['Longitude']=0.0
TorontoN.head()

,Postal code,Borough,Neighborhood,Latitude,Longitude
2,M3A,North York,Parkwoods,0.0,0.0
3,M4A,North York,Victoria Village,0.0,0.0
4,M5A,Downtown Toronto,"Regent Park , Harbourfront",0.0,0.0
5,M6A,North York,"Lawrence Manor , Lawrence Heights",0.0,0.0
6,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government",0.0,0.0

#### Tried using geocoder library to get the lattitude and longitude but it always return "None" and go on infinite loop as shown below. So I had to go back to reading csv provided

In [15]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="ny_explorer")

i=0
for postal_code in TorontoN['Postal code']:
    # loop until you get the coordinates
    g = None
    while(g is None):
        g = geolocator.geocode('{}, Toronto, Ontario'.format(postal_code))
        print('{}, Toronto, Ontario'.format(postal_code))
        
    TorontoN['Latitude'].iloc[i] = g.latitude
    TorontoN['Longitude'].iloc[i] = g.longitude
    i=i+1

print (i)
TorontoN.head()

M3A, Toronto, Ontario
M4A, Toronto, Ontario
M4A, Toronto, Ontario
M4A, Toronto, Ontario
M4A, Toronto, Ontario
M4A, Toronto, Ontario
M4A, Toronto, Ontario
M4A, Toronto, Ontario
M4A, Toronto, Ontario
M4A, Toronto, Ontario
M4A, Toronto, Ontario
M4A, Toronto, Ontario

KeyboardInterrupt:

In [16]:
TorontoN.head()

,Postal code,Borough,Neighborhood,Latitude,Longitude
2,M3A,North York,Parkwoods,43.653482,-79.383935
3,M4A,North York,Victoria Village,0.000000,0.000000
4,M5A,Downtown Toronto,"Regent Park , Harbourfront",0.000000,0.000000
5,M6A,North York,"Lawrence Manor , Lawrence Heights",0.000000,0.000000
6,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government",0.000000,0.000000

#### Read the csv provided and save in another dataframe

In [17]:
Toronto_Loc = pd.read_csv('http://cocl.us/Geospatial_data')
Toronto_Loc.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [18]:
Toronto_Loc.shape

(103, 3)

#### Noticed that the column "Postal Code" has capital C in this file, so make the column name same as original dataframe, which can be then easy to merge. Also colums Latitude and Longitude were dropped from original dataframe as previous method didnt work

In [19]:
Toronto_Loc.rename(columns={'Postal Code':'Postal code'},inplace=True)
Toronto_Loc.head()

  Postal code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [21]:
TorontoN.drop(columns=['Latitude','Longitude'], inplace=True)
TorontoN.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park , Harbourfront
5         M6A        North York             Lawrence Manor , Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

#### Merging the two dataframe to have dataframe required in assignment. Thank you!!!

In [23]:
TorontoN=pd.merge(TorontoN, Toronto_Loc, on="Postal code")

In [26]:
TorontoN.head()

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor , Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government",43.662301,-79.389494