### Assignment: Neighborhoods in Toronto

#### Importing libraries and reading dataset

In [2]:
import pandas as pd
import numpy as np

link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

tables = pd.read_html(link)

In [39]:
TorontoN=tables[0].iloc[1:]

#### Lets have a look at the start of the table

In [40]:
TorontoN.head()

  Postal code           Borough                       Neighborhood
1         M2A      Not assigned                                NaN
2         M3A        North York                          Parkwoods
3         M4A        North York                   Victoria Village
4         M5A  Downtown Toronto         Regent Park / Harbourfront
5         M6A        North York  Lawrence Manor / Lawrence Heights

In [30]:
TorontoN.shape

(179, 3)

#### Deleting/Ignoring rows with borough not assigned

In [41]:
TorontoN=TorontoN[TorontoN['Borough']!="Not assigned"]
TorontoN.head()

#### Looks like there are more than two neighborhood for give postal code and they are already combined using "/". As per assignment I am replacing that by ","

In [43]:
TorontoN['Neighborhood']=TorontoN['Neighborhood'].str.replace("/", ",")
TorontoN.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park , Harbourfront
5         M6A        North York             Lawrence Manor , Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

#### Lets check if there is any duplicate Postal code. First I am checking the no of columns in current datframe using "shape" and then use "value_counts" to find no of times one postal code appears. If no of columns in both are same then that means there is no two rows with same postal code.

In [45]:
TorontoN.shape

(103, 3)

In [49]:
count=df["Postal code"].value_counts()
count.shape

(103,)

#### As no of rows are same in both, which means there is no duplicate postal code and I dont need to combine any further as per assignment. That completes this assignment. My last cell is down as per assignment. Thank you!!!

In [50]:
TorontoN.shape

(103, 3)